<div class="row justify-content-center">
  <div class="col-4">
    <div class="row">
      <div class="col-5"><label for="categoryFilter" class="form-label">Filter By Categories</label></div>
      <div class="col-7">
        <select class="form-select" aria-label="filter by categories" id="categoryFilter" (change)="onCategoryFilterChange($event)">
          <option value="">All</option>
          <ng-container *ngFor="let category of categories;trackBy trackByCategoryId; let index;">
            <option [value]="category.name" [selected]="category.name === selectedCategory">{{category.displayName}}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col-3 justify-content-end"><label for="categoryFilter" class="form-label">Sort By</label></div>
      <div class="col-9">
        <select class="form-select" aria-label="filter by categories" id="categoryFilter" (change)="onSortByChange($event)">
          <option value="">All</option>
          <ng-container *ngFor="let option of sortByOptions; let index;">
            <option [value]="option.value" [selected]="option.value === selectedSortOption">{{option.displayName}}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
</div>
