<div class="row p-4" *ngIf="cartItems.length > 0; else emptyCartTemplate">
  <div class="alert alert-success" *ngIf="successMessage">
    <h5>{{ successMessage }}</h5>
  </div>
  <div class="col-lg-8 col-md-7">
    <div class="border p-4 rounded shadow-lg">
      <h3>Shopping Cart</h3>
      <ul class="list-group list-group-flush">
        <!-- list group -->
        <li
          class="list-group-item py-3 ps-0 border-top border-bottom"
          *ngFor="let cartItem of cartItems; let index"
        >
          <!-- row -->
          <div class="row align-items-center">
            <div class="col-6 col-md-6 col-lg-7">
              <div class="d-flex">
                <img
                  [src]="cartItem.productInfo.images[0]"
                  alt="Ecommerce"
                  class="icon-shape icon-xxl"
                  [style]="'height:5rem; width:7rem; line-height:5rem;'"
                />
                <div class="ms-3">
                  <!-- title -->
                  <a
                    [routerLink]="['/products', cartItem.productInfo.id]"
                    class="text-inherit"
                  >
                    <h6 class="mb-0">{{ cartItem.productInfo.title }}</h6>
                  </a>
                  <span>Brand: {{ cartItem.productInfo.brand }}</span>
                  <!-- text -->
                  <div class="mt-2 small lh-1">
                    <a
                      class="text-decoration-none text-inherit"
                      (click)="removeProductFromCart(cartItem.productInfo.id)"
                      [style]="'cursor: pointer;'"
                    >
                      <span class="me-1 align-text-bottom text-danger">
                        <i class="bi bi-trash"></i>
                      </span>
                      <span class="text-danger">Remove</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- input group -->
            <div class="col-4 col-md-4 col-lg-3">
              Quantity: {{ cartItem.quantity }}
            </div>
            <!-- price -->
            <div class="col-2 text-lg-end text-start text-md-end col-md-2">
              <span class="fw-bold">{{
                cartItem.productInfo.price | currency
              }}</span>
            </div>
          </div>
        </li>
      </ul>
      <!-- btn -->
      <div class="d-flex justify-content-end mt-4">
        <a [routerLink]="['/products']" class="btn btn-primary"
          >Continue Shopping</a
        >
      </div>
    </div>
  </div>

  <!-- sidebar -->
  <div class="col-12 col-lg-4 col-md-5">
    <!-- card -->
    <div class="mb-5 card mt-6 shadow-lg">
      <div class="card-body p-6">
        <!-- heading -->
        <h2 class="h5 mb-4">Summary</h2>
        <div class="card mb-2">
          <!-- list group -->
          <ul class="list-group list-group-flush">
            <!-- list group item -->
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="me-auto">
                <div>Item Subtotal</div>
              </div>
              <span>{{ itemSubTotal | currency }}</span>
            </li>

            <!-- list group item -->
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="me-auto">
                <div>Service Fee</div>
              </div>
              <span>{{ serviceFee | currency }}</span>
            </li>
            <!-- list group item -->
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="me-auto">
                <div class="fw-bold">Subtotal</div>
              </div>
              <span class="fw-bold">{{
                itemSubTotal + serviceFee | currency
              }}</span>
            </li>
          </ul>
        </div>
        <div class="d-grid mb-1 mt-4">
          <!-- btn -->
          <button
            class="btn btn-primary btn-lg d-flex justify-content-between align-items-center"
            type="button"
            (click)="checkoutCartItems()"
          >
            Go to Checkout
            <span class="fw-bold">{{
              itemSubTotal + serviceFee | currency
            }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyCartTemplate>
  <div class="d-flex justify-content-center mt-4">
    <h2>
      Your shopping cart is empty
      <a [routerLink]="['/products']" class="btn btn-primary"
        >Continue Shopping</a
      >
    </h2>
  </div>
</ng-template>
