<div class="card category-card-container shadow-md">
  <div class="card-body">
    <div class="text-center card-img-container position-relative">
      <a [routerLink]="['/products']" [queryParams]="{ c: name }">
        <img
          src="https://freshcart.codescandy.com/assets/images/products/product-img-1.jpg"
          [src]="thumbnail"
          alt="Grocery Ecommerce Template"
          class="mb-3 img-fluid card-img-top"
          [style]="'max-height: 100%;'"
        />
      </a>
    </div>
    <h2 class="fs-6 mt-2">
      <a
        [routerLink]="['/products']"
        [queryParams]="{ c: name }"
        class="text-inherit text-decoration-none"
        >{{ title }}</a
      >
    </h2>
  </div>
</div>
