.category-card-container {
  width: 10.5rem;
  height: 12rem;

  &:hover {
    border-color: #ff6828;
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: all 0.1s ease-in 0s;
  }

  .card-img-container {
    height: 7.5rem;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
  }
}
